{{ define "footer" }}
<footer>
    <div class="grid container">
        <div class="opening-hours">
            <h3 class="title">Unsere Öffnungszeiten</h3>
            <ul class="hours-list">
                {{ range .OpeningHours }}
                <li>
                    <span class="day">{{ .DayLabel }}</span>
                    <span class="time">
                        {{ if .IsClosed }}
                            Geschlossen
                        {{ else }}
                            {{ .Open }} bis {{ .Close }} Uhr
                        {{ end }}
                    </span>
                </li>
                {{ end }}
                {{ if not .OpeningHours }}
                <li><span>Mo - Fr</span> <span>07:00 bis 19:00 Uhr</span></li>
                <li><span>Samstag</span> <span>07:00 bis 17:00 Uhr</span></li>
                {{ end }}
            </ul>
        </div>

        <div class="information">
            <h3 class="title">So findest du uns</h3>
            <address>
                Familie Keel<br>
                Altenrhein 19<br>
                9320 Altenrhein
            </address>
            
            <div class="contact-links">
                <a href="tel:+41763361831" class="underline-hover">
                    +41 76 336 18 31
                </a>
                <a href="mailto:naturhof@rinisgmuende.ch" class="underline-hover">
                    naturhof@rinisgmuende.ch
                </a>
            </div>
        </div>

        <div class="footer-logo-wrapper">
            <img src="/assets/img/logo_full.jpg" alt="Naturhof Logo" loading="lazy" />
        </div>
    </div>
    <div class="copyright">
    &copy; {{ .CurrentYear }} Naturhof Rinisgmuende
</div>
</footer>
{{ end }}