{{ define "templates/footer.html" }}
<footer>
    <div class="contact">
    <div class="grid">
        <img src="/img/logo_full.jpg" />
        <div class="opening-hours">
        <span class="title text-bold">Unsere Öffnungszeiten - Hofladen</span
        >
        <div>
            <span
            >Montag bis Freitag&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 07:00 bis
            19:00 Uhr</span
            >
            <span
            >Samstag&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;07:00 bis 17:00
            Uhr</span
            >
        </div>
        </div>
        <div class="information">
        <span class="title text-bold">So findest du uns</span>
        <div>
            <span>Familie Keel</span>
            <span>Altenrhein 19</span>
            <span>Altenrhein 9320</span>
        </div>
        <div>
            <span>+41 76 336 18 31</span>
        </div>
        <div>
            <span>naturhof@rinisgmuende.ch</span>
        </div>
        </div>
    </div>
    </div>
    <div class="copyright">© 2025 Naturhof Rinisgmuende</div>
</footer>
{{ end }}